<template name="blogIndex">
  <div class="meteor-blog-index">
    {{#if blogReady}}
      {{> blogIndexLoop posts=posts}}
      {{blogPager}}
    {{else}}
      {{> blogLoading}}
    {{/if}}
  </div>
</template>

<template name="blogIndexLoop">
  {{#each posts}}
    <div class="meteor-blog-post hot-posts">
      <article>
      {{#if featuredImage}}
        <figure class="post-image">
          <a href="{{blogPathFor 'blogShow'}}">
            <img src="{{featuredImage}}" alt="{{title}}">
          </a>
        </figure>
      {{/if}}
                <div class="post-meta">
                    <div class="post-title">
                        <h3><a href="{{blogPathFor 'blogShow'}}">{{title}}</a></h3>
                    </div>
                    <div class="stats">
                        <div class="stats-block">
                            <span class="fa fa-eye icon"></span>
                            642
                        </div>
                        <div class="stats-block">
                            <span class="fa fa-bookmark icon"></span>
                            283
                        </div>
                        <div class="stats-block">
                            <span class="fa fa-commenting icon"></span>
                            102
                        </div>
                    </div>
                </div>

    </article>
    </div>
  {{else}}
    {{ BlogLanguage.blogEmpty }}
  {{/each}}
</template>

<template name="blogTags">
  {{#if tags}}
    <div class="meteor-blog-post-tags">
      <p> &ndash; {{ BlogLanguage.tags }}: {{blogFormatTags tags}}</p>
    </div>
  {{/if}}
</template>
